{
	order forward_proxy first
log {
		output stdout
		format json
		include http.log.access
	} 
}
:443, maas.missiontools.app {
  
		redir /generate_204 https://my.missiontools.app/?payment=true 302

forward_proxy 



}
